@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'sans-serif';
}
body{
    font-size: 16px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}
.content{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.content h1{
    color: #141414;
    font: 700;
    font-family: 'Lato', 'sans-serif';
}
.content .response{
    display: flex;
    justify-content: center;
    
    margin-top: 2rem;
    width: 20rem;
    padding: 1rem 0;
    border-radius: 15px;

    background-color: rgb(139, 139, 139);
    color: #f0f0f0;
    font-family: 'Lato', 'sans-serif';
    font: 400;
    box-shadow: 0 0 16px #3d0c5034;
}
.content .explication{
    max-width: 22rem;
    display: flex;
    justify-content: center;
    margin: auto 0;
    margin-top: 2rem;
    font-weight: 600;
    color: #464646;
}

.loader {
    margin-top: 2rem;
    height: 5rem;
    width: 5rem;
    border: 10px solid #ccc;
    border-right-color: #210453;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
}
  
@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}

